
<h2> <a
                href="https://MarceloGallardoB.github.io/files/1MAT33-2024-1-SILABO.PDF">Functional
                Analysis</a>, 2024-1
</h2>

<ul>
        <li>
                Problem sets

                <ul>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pd1_funcional.pdf" target="_blank">Problem
                                        set 1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pd_funcional_sol.pdf" target="_blank">Solutions
                                        to problem set 1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pd3_funcional.pdf" target="_blank">Problem
                                        set 2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pd3_sol.pdf" target="_blank">Solutions
                                        to problem set 2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pd4.pdf" target="_blank">Problem
                                        set 3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/sol_pd4.pdf" target="_blank">Solutions
                                        to problem set 3</a></li>
                </ul>
        </li>
        <li>
                Graded problem sets
                <ul>

                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pc1_funcional_v2.pdf" target="_blank">Graded
                                        problem set 1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/sol_pc1_funcional.pdf" target="_blank">Solutions
                                        to graded problem set 1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pc2_v2.pdf" target="_blank">Graded
                                        problem set 2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/sol_pc2.pdf" target="_blank">Solutions
                                        to graded problem set 2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pc3_funcional.pdf" target="_blank">Graded
                                        problem set 3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/sol_pc3.pdf" target="_blank">Solutions
                                        to graded problem set 3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/pc4_funcional.pdf" target="_blank">Graded
                                        problem set 4</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Functional-analysis/sol_pc4.pdf" target="_blank">Solutions
                                        to graded problem set 4</a></li>
                </ul>
        </li>
</ul>