<h2>
        <a
                href="https://facultad.pucp.edu.pe/ciencias-sociales/cursos/microeconomia-2/"
                target="_blank">
                Microeconomics II
        </a>, 2024-2
</h2>

<ul>
        <li>
                <strong>Syllabus del curso</strong>
                <p>No hay material disponible para este subtítulo.</p>
        </li>

        <li>
                <strong>Problem sets</strong>
                <ul>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_1.pdf"
                                        target="_blank">Problem set 1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/Recitation_2_Micro_2.pdf"
                                        target="_blank">Problem set 2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/pd3_micro_2.pdf"
                                        target="_blank">Problem set 3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_4_micro_2.pdf"
                                        target="_blank">Problem set 4</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/PD5_Micro_2.pdf"
                                        target="_blank">Problem set 5</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/PD6_micro_2.pdf"
                                        target="_blank">Problem set 6</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_7_micro_2.pdf"
                                        target="_blank">Problem set 7</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_8.pdf"
                                        target="_blank">Problem set 8</a></li>
                </ul>
        </li>

        <li>
                <strong>Solutions to problem sets</strong>
                <ul>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_1_sol.pdf"
                                        target="_blank">Solutions to problem set
                                        1</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/Sol_Recitation_2.pdf"
                                        target="_blank">Solutions to problem set
                                        2</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/slides_recitation_3.pdf"
                                        target="_blank">Solutions to problem set
                                        3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/slides_recitation_4_micro_2.pdf"
                                        target="_blank">Solutions to problem set
                                        4</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/Sol_recitation_5_Micro_2.pdf"
                                        target="_blank">Solutions to problem set
                                        5</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/recitation_6_micro_2.pdf"
                                        target="_blank">Solutions to problem set
                                        6</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/Sol_PD7_Micro_2.pdf"
                                        target="_blank">Solutions to problem set
                                        7</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/sol_recitation_8.pdf"
                                        target="_blank">Solutions to problem set
                                        8</a></li>
                </ul>
        </li>

        <li>
                <strong>Slides</strong>
                <ul>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/slides_recitation_3.pdf"
                                        target="_blank">Slides with solutions to
                                        problem set 3</a></li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/slides_recitation_4_micro_2.pdf"
                                        target="_blank">Slides with solutions to
                                        problem set 4</a></li>
                </ul>
        </li>

        <li>
                <strong>Lecture notes</strong>
                <ul>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/lecture_notes_EG.pdf"
                                        target="_blank">Lecture notes in general
                                        equilibrium</a></li>
                        <li>Supplementary material</li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/economic_theory_exercises.pdf"
                                        target="_blank">Consumer and producer
                                        theory</a></li>
                        <li>
                                <a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/brouwer_fixed_point_theorem.pdf"
                                        target="_blank">
                                        Brouwer fixed point theorem and
                                        applications in general equilibrium
                                </a>
                                <br> with Carlos Cosentino and Eduardo Llamoca
                        </li>
                        <li><a
                                        href="{{ site.baseurl }}/files/courses/Microeconomics-II/general_equilibrium_uncertainty.pdf"
                                        target="_blank">General equilibrium
                                        under uncertainty</a></li>
                </ul>
        </li>
</ul>
