 <header>
  <h1 class="page__title"></h1>
</header>

<section id="education">
  <h2>Education</h2>
  <ul>
    <li>
      Grade (B.s, Lic.) in Mathematics,
      <a href="https://www.pucp.edu.pe/carrera/matematicas/">Pontificia
        Universidad Católica del Perú</a>
      <ul>
        <li>2020 - 2025</li>
      </ul>
    </li>
    <li>
      Baccaluréat Scientifique, Lycée Franco Péruvien.
      <ul>
        <li>2017 - 2018</li>
      </ul>
    </li>
  </ul>
</section>

<section id="complementary-education">
  <h2>Complementary education</h2>
  <ul>
    <li>
      <a href="https://qlab.pucp.edu.pe/">QLab</a>
      <ul>
        <li>Summer and Winter School 2022, 2023 and 2024</li>
      </ul>
    </li>
    <li>
      <a href="https://www.harvard.edu/">Harvard</a>
      <ul>
        <li>Aug. 2024</li>
        <li>
          Professor
          <a
            href="https://professional.dce.harvard.edu/faculty/mark-esposito/">Mark
            Esposito</a>
        </li>
        <li>
          <a
            href="https://MarceloGallardoB.github.io/files/harvard_pucp.pdf">Certificate</a>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="awards--honors">
  <h2>Awards &amp; Honors</h2>
  <ul>
    <li>
      2018 Mention Très Bien au Baccalauréat Scientifique, Colegio Franco
      Peruano, Lima PE.
      <a
        href="https://MarceloGallardoB.github.io/files/notes_bac.pdf">Diplôme</a>.
    </li>
    <li>
      2019
      <a
        href="https://MarceloGallardoB.github.io/files/admission_l_X.pdf">Admission</a>
      to l’X Bachelor Program, Paris, Fr.
    </li>
    <li>
      2020 Contest Initiation to scientific research, Winner in the individual
      class, PUCP Lima, PE.
      <a
        href="https://facultad.pucp.edu.pe/generales-ciencias/evento/ganadores-del-concurso-proyecto-iniciacion-la-investigacion-2020/"
        role="button" target="_blank"> Link </a>
    </li>
    <li>
      2021 Contest Initiation to scientific research, Winner in the individual
      class, PUCP Lima, PE.
      <a
        href="https://facultad.pucp.edu.pe/generales-ciencias/nota-de-prensa/ganadores-ee-gg-cc-2021/"
        role="button" target="_blank"> Link </a>
    </li>
    <li>
      2024
      <a
        href="https://puntoedu.pucp.edu.pe/institucional/becas-excellence-scholarships-mejores-universidades-del-mundo/">
        Excellence Scholarhsip
      </a>, PUCP, Lima, Pe.
    </li>
  </ul>
</section>

<section id="teaching-experience">
  <h2>Teaching Experience</h2>
  <ul>
    <li>
      Economics, PUCP
      <ul>
        <li>
          03/2022 to 07/2022,
          <a href="https://marcelogallardob.github.io/teaching/">Mathematics for
            Economists 3</a>.
          With PhD <a
            href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge
            Chávez</a>.
        </li>
        <li>
          08/2022 to 12/2022,
          <a href="https://marcelogallardob.github.io/teaching/">Mathematics for
            Economists 4</a>.
          With PhD <a
            href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge
            Chávez</a>.
        </li>
        <li>
          08/2024 to 12/2024,
          <a href="https://marcelogallardob.github.io/teaching/">Microeconomics
            2</a>.
          With PhD <a
            href="https://www.pucp.edu.pe/profesor/pavel-coronado-castellanos">Pavel
            Coronado</a>.
        </li>
        <li>
          08/2024 to 12/2024,
          <a href="https://marcelogallardob.github.io/teaching/">Financial
            Microeconomics</a>.
          With PhD (a.b.d.) <a
            href="https://es.wikipedia.org/wiki/Jos%C3%A9_Gallardo_Ku">José
            Gallardo</a>.
        </li>
      </ul>
    </li>
    <li>
      Mathematics, PUCP
      <ul>
        <li>
          03/2024-07/2024,
          <a href="https://marcelogallardob.github.io/teaching/">Optimization
            I</a>.
          With PhD <a
            href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge
            Chávez</a>.
        </li>
        <li>
          03/2024-07/2024,
          <a href="https://marcelogallardob.github.io/teaching/">Functional
            Analysis</a>.
          With PhD <a
            href="https://www.pucp.edu.pe/profesor/percy-fernandez-sanchez">Percy
            Fernández</a>.
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="research-assistance">
  <h2>Research Assistance</h2>
  <ul>
    <li>
      <a href="https://www.unsw.edu.au/business/our-schools/economics">UNSW</a>
      <ul>
        <li>
          Working with PhD <a
            href="https://sites.google.com/site/carbajaleconomics/home">Juan
            Carlos Carbajal</a>
        </li>
        <li>2024-now</li>
      </ul>
    </li>
    <li>
      <a href="https://www.pucp.edu.pe/carrera/matematicas/">PUCP</a>
      <ul>
        <li>
          Working with PhD <a
            href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge
            Richard Chavez Fuentes</a>
        </li>
        <li>2022-now.</li>
      </ul>
    </li>
    <li>
      <a href="https://www.grade.org.pe/en/">GRADE</a>
      <ul>
        <li>
          Working with PhD <a
            href="https://www.grade.org.pe/investigadores/personal/jleon/">Juan
            León Jara-Almonte</a>
        </li>
        <li>2022-2024</li>
      </ul>
    </li>
  </ul>
</section>
