<style>
  li {
    list-style: none;
  }
</style>

<header>
  <h1 class="page__title"></h1>
</header>

<section id="education">
  <h2>Education</h2>
  <ul>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Grade (B.s, Lic.) in Mathematics</h5>
          <p class="card-text"><a href="https://www.pucp.edu.pe/carrera/matematicas/">Pontificia Universidad Católica del Perú</a></p>
          <p class="card-text">2020 - 2025</p>
          <p class="card-text">Prof. Mark Esposito</p>
          <p class="card-text"><a href="#">Certificate</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Baccaluréat Scientifique</h5>
          <p class="card-text">Lycée Franco Péruvien</p>
          <p class="card-text">2017 - 2018</p>
        </div>
      </div>
    </li>
  </ul>
</section>

<section id="complementary-education">
  <h2>Complementary Education</h2>
  <ul>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">QLab</h5>
          <p class="card-text"><a href="https://qlab.pucp.edu.pe/">Pontificia Universidad Católica del Perú</a></p>
          <p class="card-text">Summer and Winter School 2022, 2023 and 2024</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/harvard-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Harvard University</h5>
          <p class="card-text">Aug. 2024</p>
          <p class="card-text">Professor <a href="https://professional.dce.harvard.edu/faculty/mark-esposito/">Mark Esposito</a></p>
          <p class="card-text"><a href="{{ "/files/courses/education-and-experience/harvard_pucp.pdf" | relative_url }}">Certificate</a></p>
        </div>
      </div>
    </li>
  </ul>
</section>

<section id="awards--honors">
  <h2>Awards & Honors</h2>
  <ul>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Mention Très Bien au Baccalauréat Scientifique</h5>
          <p class="card-text">Colegio Franco Peruano, Lima PE</p>
          <p class="card-text"><a href="{{ "/files/courses/education-and-experience/notes_bac.pdf" | relative_url }}">Diplôme</a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Admission to l’X Bachelor Program</h5>
          <p class="card-text">École Polytechnique, Paris, France</p>
          <p class="card-text"><a href="{{ "/files/courses/education-and-experience/admission_l_X.pdf" | relative_url }}">Admission</a></p>
        </div>
      </div>
    </li>
  </ul>
</section>

<section id="teaching-experience">
  <h2>Teaching Experience</h2>
  <ul>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Mathematics for Economists 3</h5>
          <p class="card-text">PUCP, 03/2022 to 07/2022</p>
          <p class="card-text">With PhD <a href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge Chávez</a></p>
        </div>
      </div>
    </li>
  </ul>
</section>

<section id="research-assistance">
  <h2>Research Assistance</h2>
  <ul>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Research at UNSW</h5>
          <p class="card-text"><a href="https://www.unsw.edu.au/business/our-schools/economics">UNSW Business School</a></p>
          <p class="card-text">Working with PhD <a href="https://sites.google.com/site/carbajaleconomics/home">Juan Carlos Carbajal</a></p>
          <p class="card-text">2024-now</p>
        </div>
      </div>
    </li>
    <li>
      <div class="card">
        <div class="card-header">
          <img src="{{ "/assets/img/institutions/pucp-logo.png" | relative_url }}" alt>
        </div>
        <div class="card-body">
          <h5 class="card-title">Research at PUCP</h5>
          <p class="card-text"><a href="https://www.pucp.edu.pe/carrera/matematicas/">PUCP</a></p>
          <p class="card-text">Working with PhD <a href="https://www.pucp.edu.pe/profesor/jorge-chavez-fuentes">Jorge Richard Chávez Fuentes</a></p>
          <p class="card-text">2022-now</p>
        </div>
      </div>
    </li>
  </ul>
</section>
