<header>
     <img id="img-profile"
          src="{{ base_path }}/assets/img/Marcelo-Gallardo-profile.jpg"
          alt="foto-marcelo-gallardo"
          draggable="false" />
     <h2 id="profile-name">Marcelo Manuel
          Gallardo Burga</h2>
     <p>Mathematics & Economics PUCP</p>

     <div class="contact">

          <a href="{{ base_path }}/contact">

               Contact information

          </a>

     </div>

     <hr />

     <h4>
          Research Interest
     </h4>

     <ul>
          <li>
               Consumer Theory
          </li>
          <li>
               Optimal Transport
          </li>
          <li>
               Mechanism Design
          </li>
          <li>
               Matching Theory
          </li>
          <li>
               Control Theory
          </li>
          <li>
               General Equilibrium
          </li>
     </ul>

</header>