

<header>
    <h1>Marcelo Gallardo Burga</h1>
    <p>Mathematics & Economics PUCP</p>
    <hr />
    <!-- <nav>
        <p class="contactinfo"><a href="#bio">Bio</a></p>
        <p class="contactinfo"><a href="#contact">Contact</a></p>
        <p class="contactinfo"><a href="#officehours">Teaching and
                Advising</a></p>
        <p class="contactinfo"><a href="#publications">Publications</a></p>
        <p class="contactinfo"><a href="#workingpapers">Working Papers</a></p>
        <p class="contactinfo"><a href="#workinprogress">Work in
                Progress</a></p>
        <p class="lastcontactinfo"><a href="#mediacoverage">Media Coverage and
                Policy Work</a></p>
    </nav> -->
    <img id="img-profile" src="{{ base_path }}/assets/img/Marcelo-Gallardo-profile.jpg" alt="foto-marcelo-gallardo"
        draggable="false" />
</header>
