<header>
     <img id="img-profile"
          src="{{ site.baseurl }}/assets/img/Marcelo-Gallardo-profile.jpg"
          alt="foto-marcelo-gallardo"
          draggable="false" />
     <!-- <p>Mathematics & Economics PUCP</p> -->
   
     <div class="contact" style="margin-bottom: 10px;">
       <a href="{{ site.baseurl }}/contact">
         Contact
       </a>
     </div>
     <div class="contact">
       <a href="{{ site.baseurl }}/files/education-and-experience/cv_mg.pdf" target="_blank">
         CV
       </a>
     </div>
   
     <hr />
</header>
