<section>
    <h2>About Me</h2>
    <p>
      Mathematician from the Pontifical Catholic University of Peru (PUCP) with a concentration in economics (<a href="#">CV here</a>). I am also a teaching and research assistant. My research interests include Consumer Theory, Matching Theory, Optimal Control, and Optimal Transport applied to Economics.
    </p>
    <p>
      I recently co-authored two books on applied mathematics for economics and four papers, two in my research interest fields, and two empirical studies using cross-sectional, time-series, and machine learning techniques.
    </p>
    <p>
      I am currently submitting my work and preparing applications for postgraduate studies in Economics (2025).
    </p>
  </section>