
<section id="teaching-assistance">
    <h2>Teaching Assistance</h2>
    <p>
        The following documents are not exempt from typos or other errors. In
        the case of assessments, any issues were clarified at the time of the
        exam.
    </p>

    <article>
        <h3> 
            <!-- https://facultad.pucp.edu.pe/ciencias-sociales/cursos/microeconomia-2/ -->
            <a
            href="{{ site.baseurl }}/courses/microeconomics-2/">
                Microeconomics II
            </a>, 2024-2
        </h3>
    </article>




    <article>
        <h3>
            <!-- https://facultad.pucp.edu.pe/ciencias-sociales/cursos/microeconomia-financiera/ -->
            <a
                href="{{ site.baseurl }}/courses/financial-microeconomics-2024-2/">
                Financial Microeconomics
            </a>, 2024-2
        </h3>
    </article>

    <article>
        <h3>
            <!-- https://MarceloGallardoB.github.io/files/SyllabusIOP224.pdf -->
            <a
                href="{{ site.baseurl }}/courses/optimization-i-2024-1/">Optimization
                I</a>, 2024-1
        </h3>
    </article>
    <article>
        <h3>
            <!-- https://MarceloGallardoB.github.io/files/SyllabusIOP224.pdf -->
            <a
                href="{{ site.baseurl }}/courses/optimization-i-2025-1/">Optimization
                I</a>, 2025-1
        </h3>
    </article>

    <article>
        <h3>
            <!-- https://MarceloGallardoB.github.io/files/1MAT33-2024-1-SILABO.PDF -->
            <a
                href="{{ site.baseurl }}/courses/functional-analysis-2024-1/">
                Functional Analysis
            </a>, 2024-1
        </h3>
    </article>

    <article>
        <h3>
            <!-- https://facultad.pucp.edu.pe/ciencias-sociales/cursos/matematicas-para-economistas/ -->
            <a
                href="{{ site.baseurl }}/courses/mathematics-for-economists-4-2022-2/">
                Mathematics for Economists 4
            </a>, 2022-2
        </h3>
    </article>
    <article>
        <h3>
            <!-- https://facultad.pucp.edu.pe/ciencias-sociales/cursos/matematicas-para-economistas/ -->
            <a
                href="{{ site.baseurl }}/courses/mathematics-for-economists-3-2022-1/">
                Mathematics for Economists 3
            </a>, 2022-1
        </h3>
    </article>
</section>
