// Variables globales
$fonts-path: "../fonts";
$base-font: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-bg: #EBF0F5;
$text-color: #3b3b3b;
$links-color: #003d90 ;
$links-color_hover: #005aff;
$h1-size: 28px;
$h2-color: #000000;
$h3-6-color: #494949;
$highlight-bg: #f8f8f8;