<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body>

        {% include navbar.html %}

        <div class="wrapper">
            {% include header.html %}

            <main>
                
                {{ content }}
            </main>
            
           
           
        </div>
        <footer id="footer-page">
            <p>&copy; 2025 Marcelo Manuel Gallardo Burga. Todos los derechos
                reservados.</p>
        </footer>
        {% include scripts.html %}
    </body>
</html>
